<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product to <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/public/main.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/list">Products</a>
            <a href="/additem">Add Item</a>
            <a href="/profile">Your Account</a>
            <a href="/about">About</a>
            <a href="/todayssale">On Sale</a>
        </nav>
    </header>
    <main>
        <h1><%=shopData.shopName%>: Add Product</h1>
        <form method="POST" action="/productadded">
            <p>
                <label for="name">Product name:</label>
                <input id="name" type="text" name="name" required>
            </p>
            <p>
                <label for="category">Category:</label>
                <input id="category" type="text" name="category" required>
            </p>
            <p>
                <label for="price">Price:</label>
                <input id="price" type="text" name="price" required>
            </p>
            <p><input type="submit" value="Add Product"></p>
        </form>
    </main>
</body>
</html>
