<!doctype html>
<html>
  <head>
    <title>Log in to <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome</h1>
    <h2>Log in here!</h2>
    <form method="POST" action="/profile/login">
      <p>Username: <input id="username" type="text" name="username" placeholder="Username" /></p>
      <p>Password: <input id="password" type="password" name="password" placeholder="******" /></p>
      <input type="submit" value="Login"/>
    </form>
    <p><a href="/users/list">List users</a></p>
    <p><a href="/users/register">Register</a></p>
  </body>
</html>
