<!doctype html>
<html>
  <head>
    <title>Add a product to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome</h1>
    <h2>log ing here!!! </h2>
    <form method="POST" action="/profile/Login">
      <p>User Name: <input id="username" type="text" name="username" placeholder="User name" /></p>
      <p>Password: <input id="password" type="password" name="password" placeholder="******" /></p>
      <input type="submit" value="Login"/>
      
    </form>
    <p><a href="/users/list">List users</a></p>
    <p><a href="/users/register">register</a></p>
    

  </body>
</html>