<!doctype html>
<html>
  <head>
    <title>About <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=shopData.shopName%></h1>
    <p>Welcome!</p>

    <p><a href="/products/search">Search for products</a></p>
    <p><a href="/products/addproduct">Add a new product</a></p>
    <p><a href="/products/bargainproducts">Bargain products</a></p>
    <p><a href="/users/list">List users</a></p>
    <p><a href="/logout">Logout</a></p>
  </body>
</html>
